<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/perfildue']" name="arrow-back"
      style="color: rgb(255, 169, 169); width: 25px; height: 25px; padding-left: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;">Lista Comidas</h2>

<ion-list *ngFor="let x of Comida">
  <ion-item-sliding>
    <ion-item>
      <h2>{{ x.titulo }}</h2>
      <p>{{ x.texto }}</p>
    </ion-item>
    <ion-item-options>
      <ion-item-option (click)="modificarDatos()">Modificar</ion-item-option>
      <ion-item-option color="danger" (click)="eliminarComida(x)">Eliminar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agregarcomida']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 

</ion-content>

