<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/perfildue']" name="arrow-back"
      style="color: rgb(255, 169, 169); width: 25px; height: 25px; padding-left: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center" style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;">Agregar nueva Comida</h2>

  <ion-label style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Foto de Comida</ion-label>
  <div>
    <img width="280px" height="180px" style="padding-left: 95px;" src="{{foto}}">
    <div>
      <ion-button class="registro-button" (click)="Galeria()">Galeria</ion-button>
    </div>
  </div>

  <ion-label style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Titulo Comida</ion-label>
  <ion-item [routerLink]="['/nomcomida']" style="color:rgb(157, 157, 157);">Agregar Titulo</ion-item>

  <ion-label style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Información de comida</ion-label>
  <ion-item [routerLink]="['/infocomida']" style="color:rgb(157, 157, 157);">Agregar Información de Comida</ion-item>

  <ion-label style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Precio de Comida</ion-label>
  <ion-item [routerLink]="['/costocomida']" style="color:rgb(157, 157, 157);">Agregar Precio de Comida</ion-item>

  <ion-button shape="block" (click)="Guardar()">Agregar Comida</ion-button>

</ion-content>


