<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/perfildue']" name="arrow-back"
      style="color: rgb(255, 169, 169); width: 25px; height: 25px; padding-left: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center" style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;">Agregar nueva Comida</h2>

  <ion-label style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Titulo Comida</ion-label>
  <ion-input [(ngModel)]="titulo" type="text" placeholder="Ramen" required
  style="float: left; border-left: rgb(174, 105, 103) 1px solid;"></ion-input>
  <ion-item style="color:rgb(157, 157, 157);">Agregar Titulo</ion-item>

  <ion-label style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Información de comida</ion-label>
  <ion-input [(ngModel)]="texto" type="text" placeholder="Una buena sopa de pollo" required
  style="float: left; border-left: rgb(174, 105, 103) 1px solid;"></ion-input>
  <ion-item  style="color:rgb(157, 157, 157);">Agregar Información de Comida</ion-item>

  <ion-item style="color:rgb(157, 157, 157)">
    <ion-label position="floating" >Precio de Comida: </ion-label>
    <ion-input [(ngModel)]="costo" type="number" value="" maxlength="5" minlength="2" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required ></ion-input>  
  </ion-item>

  <ion-button shape="block" (click)="Guardar()">Agregar Comida</ion-button>

</ion-content>


