<ion-header >
  <ion-toolbar color="warning">
  <ion-title></ion-title>
  <ion-buttons slot="start">
   <ion-menu-button  style="color: rgb(255, 169, 169);"><ion-icon name="menu">menu</ion-icon></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top:0px;">
    <h3>Cerezos en Flor</h3>
  </div>
  <ion-card>
    <img src="assets/cerezoflor.jpg" />
    <ion-card-content>
      Somos un pequeño negocio el cual quiere hacerte degustar la comida japonesa, con el fin de que puedas disfrutarla
      desde la comodidad de tu hogar con precios accesibles para todos nuestros clientes.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/Sakura.Mochi.jpg" />
    <ion-card-content>
      Ingresa para ver nuestro menú, en el puedes encontrar una variedad de comidas,bebidas y postres. Esperamos que disfrutes 
      de nuestras comidas 
    </ion-card-content>
  </ion-card>

  <ion-button class="registro-button" expand="full" routerLink="/menu" >Ver Menu</ion-button>


</ion-content>


