<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button  style="color: rgb(255, 169, 169);"><ion-icon name="menu">menu</ion-icon></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>   
</ion-header>

<ion-content>
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;">Perfil</h2>
  <div style="padding-left: 175px;">
    <ion-avatar slot="start">
      <img [src]="Usuario[0].foto" alt="La foto aun no se toma">
    </ion-avatar>  
  </div>
  <h1 style="text-align: center;font-size: 18px; color: #f283aa;">{{ Usuario[0].nombre }}</h1>

  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;">Configuración</h2>
  <ion-item routerLink="/configuracion" style="color:rgb(157, 157, 157);"><ion-icon name="person" style="font-size: 23px; color: #f0aca5;"></ion-icon>Acerca de mí</ion-item>

</ion-content>